<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>comments and replies</title>
    <link rel="stylesheet" href="comments.css" type="text/css">
</head>
<body class="max-width-container">
    <div class="container">
        <div class="article-title">
            <h1>How Instagram Influences our social life</h1>
        </div>
        <div class="author-profile">
            <div class="author-bio">
                <img src="./medium-Assets/009.jpg">
                <div class="author">
                    <h2 class="author-name">Jane Doe</h2>
                    <h2 class="author-username">@Black_quenn</h2>
                </div>
            </div>
            <div class="author-follow">
                <button>follow</button>
            </div>
        </div>
    </div>

    <section class="comments">
        <h1 class="container">Comments</h1>

        <!-- Start -->
        <div class="replies-and-comment">
            <div class="background-wrapper">
                <div class="container">
                    <div class="user-comment">
                        <div class="author-bio comment">
                            <img src="./medium-Assets/009.jpg">
                            <span class="user-comment-and-info">
                                <div class="author">
                                    <h2 class="author-name">Jane Doe</h2>
                                    <h2 class="author-username">@Black_quenn</h2>
                                </div>
                                <p>Hey Guys, if you have any contributions, please leave a comment with it, thanks!!</p>
                            </span>
                        </div>
                        <!-- like/heart -->
                        <span class="likes"><img src="./medium-Assets/heart.svg"><h1>200</h1></span>
                    </div>
                    <div class="replies-header">
                        <h1>Reply</h1>
                        <h1>2 Replies</h1>
                    </div>
                </div>
            </div>
            <div class="replies">
                <div class="user-comment">
                    <div class="author-bio reply">
                        <img src="./medium-Assets/006.jpg">
                        <span class="user-comment-and-info">
                            <div class="author">
                                <h2 class="author-name">John Doe</h2>
                                <h2 class="author-username">@Reader</h2>
                            </div>
                            <p>Hey @Black_quenn nice post!!</p>
                        </span>
                    </div>
                    <!-- like/heart -->
                    <!-- <span class="likes"><img src="./medium-Assets/heart.svg"><h1>200</h1></span> -->
                </div>
                <!-- Second one -->
                <div class="user-comment">
                    <div class="author-bio reply">
                        <img src="./medium-Assets/009.jpg">
                        <span class="user-comment-and-info">
                            <div class="author">
                                <h2 class="author-name">Jane Doe</h2>
                                <h2 class="author-username">@Black_quenn</h2>
                            </div>
                            <p>Hey @Reader thanks!!</p>
                        </span>
                    </div>
                    <!-- like/heart -->
                    <!-- <span class="likes"><img src="./medium-Assets/heart.svg"><h1>200</h1></span> -->
                </div>
            </div>
        </div>
        <!-- END -->
    </section>

    <section class="comment-form-section">
        <form class="comment-form">
            <input type="text" placeholder="Start Typing...">
            <button><img src="./medium-Assets/Send.svg"></button>
        </form>
    </section>
</body>
</html>