<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medium test</title>
    <link rel="stylesheet" href="./index.css" type="text/css">
</head>
<body>
    <div class="logo">
        <img src="medium-Assets/MEDIUM.png">
    </div>
    <div class="container">
        <div class="onBoarding-Message">
            <div class="onBoarding-Img">
                <img src="medium-Assets/onBoarding.svg">
            </div>
            <div class="onBoarding-Text">
                <h1>Knowledge they say is power!</h1>
                <p>Welcome to medium. A place of fun Blogging, where you can create the fun by blogging or enjoy the fun by reading.</p>
            </div>
        </div>
        <button class="onBoarding-Button">start Blogging</button>
    </div>
</body>
</html>