*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-size:20px;
}

@font-face{
    font-family:montserratBold;
    src:url('./fonts/Montserrat-Bold.ttf');
}

@font-face{
    font-family:montserratExtraBold;
    src:url('./fonts/Montserrat-ExtraBold.ttf');
}

@font-face{
    font-family:montserratBlack;
    src:url('./fonts/Montserrat-Black.ttf');
}

@font-face{
    font-family:montserratMedium;
    src:url('./fonts/Montserrat-Medium.ttf');
}

@font-face{
    font-family:montserratSemiBold;
    src:url('./fonts/Montserrat-SemiBold.ttf');
}

@font-face{
    font-family:poppinsBlack;
    src:url('./fonts/Poppins-Black.ttf');
}

@font-face{
    font-family:poppinsBold;
    src:url('./fonts/Poppins-Bold.ttf');
}

@font-face{
    font-family:poppinsExtraBold;
    src:url('./fonts/Poppins-ExtraBold.ttf');
}

@font-face{
    font-family:poppinsMedium;
    src:url('./fonts/Poppins-Medium.ttf');
}

@font-face{
    font-family:poppinsSemiBold;
    src:url('./fonts/Poppins-SemiBold.ttf');
}


:root{
    --white-in-black:rgb(227, 227, 227);
    --black:#000000;
    --background:#FAFAFA;
    --grey:#6D6D6D;
}

.container{
    width:90%;
    margin:1rem auto;
}

body{
    background:var(--background);
    overflow-x: hidden;
}

.article-title{
    margin-top:2rem;
}

.article-title h1{
    font-family:montserratBlack;
    text-align:center;
}

.author-profile{
    margin-top:2rem;
    display:flex;
    align-items:center;
    justify-content: space-between;
}

.author-bio{
    display:flex;
    align-items:center;
    width:55%;
    justify-content: space-between;
}

.author-bio img{
    height:3rem;
    width:3rem;
    border-radius:50%;
}

.author-name{
    font-family:poppinsExtraBold;
    font-size:0.7rem;
    text-transform:uppercase;
}

.author-username{
    font-family:montserratBold;
    font-size:0.7rem;
    color: rgba(0, 0, 0, 0.65);
}

.author-follow button{
    background:var(--black);
    border:none;
    color:var(--white-in-black);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:800;
    font-size:0.8rem;
    padding:0.3rem 0.6rem;
    border-radius:5px;
}


.article{
    margin-top:1rem;
}

.article h3{
    text-align:right;
    font-family:poppinsBlack;
    color:rgba(0, 0, 0, 0.66);
    font-size:0.75rem;
}


.article-img{
    width:9rem;
    height:9rem;
    position:relative;
    left:50%;
    transform:translateX(-50%);
    margin-top:1rem;
}

.article-text{
    margin-top:1rem;
    font-family:montserratSemiBold;
    font-size:0.7rem;
    color:rgba(0, 0, 0, 0.8);
    line-height:1.5rem;
}

.article-metas{
    margin-top:1rem;
    display:flex;
    align-items:center;
    justify-content: space-between;
}

.article-metas img{
    height:1.5rem;
    width:1.5rem;
}

.like-comment{
    display:flex;
    width:30%;
    justify-content: space-between;
    align-items:center;
}

.extra-width{
    width:40%;
}

.likes{
    display:flex;
    align-items:center;
}

.likes h1{
    margin-left:0.2rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    color:rgba(0, 0, 0, 0.6);
    font-size:0.8rem;
}

.related{
    margin-top:1.5rem;
}

.related-heading{
    font-family:montserratBlack;
}

.background-wrapper{
    background:rgba(227, 227, 227, 0.4);
    margin:1.5rem 0;
}

.blog-article{
    display:grid;
    grid-template-columns:30% 70%;
    grid-template-rows:0.7fr 0.3fr;
    grid-template-areas: "image articles"
    "metas metas";
    grid-gap:7px;
    cursor:pointer;
}

.blog-image{
    grid-area:image;
}

.blog-image img{
    height:100%;
    width:100%;
    margin:auto;
    object-fit:cover;
}


.blog-piece{
    grid-area:articles;
    padding:0.5rem 0rem 0rem 0.3rem;
}

.blog-category{
    font-family:montserratBlack;
    color:rgba(0,0,0, 0.7);
    font-size:0.7rem;
    margin-bottom:0.5rem;
}

.blog-title{
    font-family:montserratBlack;
    font-size:0.9rem;
    line-height:1rem;
}

.blog-summary{
    font-family:montserratExtraBold;
    color:rgba(0,0,0, 0.65);
    font-size:0.7rem;
    margin-top:0.2rem;
}


.blog-metas{
    grid-area:metas;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.time-posted{
    font-family: poppinsBlack;
    color:rgba(0, 0, 0, 0.45);
    font-size:0.7rem;
}


/* Responsive */

@media screen and (min-width:768px){
    .max-width-container{
        width:30%;
        margin:auto;
    }
}